@media only screen and (min-width:476px) and (max-width: 1024px) {
    .category {
        padding-top: 20px; /* Adjust the padding as needed */
    }
    .category .container {
        max-width: 768px; /* Adjust the max-width as needed */
    }
    .category h3 {
        font-size: 1.5rem; /* Adjust the font size as needed */
    }
    .category .row {
        margin-right: -15px;
        margin-left: -15px;
        justify-content: center;

    }
    .category .col-lg-3 {
        flex-basis: calc(33.333% - 30px); /* Adjust the width and margin as needed */
        margin: 15px;
    }
    .vis-mis .row{
        gap:20px;
    }
    .caps {
        font-size: 65px !important;
    }
    .textsec p{
        font-size: 12px !important;

    }
    .fl-left-top-image-gall {
        position: absolute;
        top: 0%;
        left: 0;
        width: 293px;
        height: auto;
        z-index: 1;
        margin-left: -50px;
    }
    .allphoto .col-lg-4 img{
        height:auto !important;
        }

        .fl-right-top-image{
            display: none;
        }
        .fl-left-top-image {
            width:356px;
        }

        .cho-fl-left-top-image {
            position: absolute;
            top: 4%;
            left: 0;
            width: 452px;
            height: auto;
            z-index: 1;
            margin-left: -87px;
        }
        .bedlogo{
            margin-left: 0 !important;
        }
        
        .product-images img{
            padding:2px;
        }
        .fl-right-top-image-pdetails {
            display: none;
        }
}

@media only screen and (min-width: 476px) and (max-width: 820px) {
    .message-form input[type="text"],
    .message-form input[type="email"],
    .message-form input[type="submit"] {
        width: 100%; /* Make input fields and submit button full width */
        margin: 5px 0; /* Adjust margin for spacing */
    }

    .message-form {
        flex-direction: column; /* Stack input fields vertically */
        align-items: center; /* Center-align input fields */
    }
    .product-images {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 100%;
        left: 0px !important;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        overflow-y: auto;
        max-height: 300px;
    }
    .desk-filter-hidden{
        display: none;
      }
      .filter-btn-mob{
        display: block;
      }
}

